@media(max-width: 1140px) {
    .service {
        &__cards {
            flex-direction: column;
            row-gap: 2rem;
        }

        &__top {
            justify-content: center;
            &-card {
                width: 100%;
                & img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }

        &__big {
            width: 100%;
            max-width: 100%;
        }

        &__grid {
            width: 100%;
        }
    }
}