@media(max-width: 1140px) {
    .haves {
        &__card {
            width: 50%;
            margin-bottom: 5rem;
        }

    }
}

@media(max-width: 768px) {

    .new_stroke {
        display: none;
    }

    .header__title {
        font-size: 5rem;
        line-height: 5rem;
    }

    .swiper {
        &-slide {
            & img {
                object-fit: cover;
            }
        }
    }

    .haves {
        &__title {
            width: 100% !important;
        }
    }
}

@media(max-width: 600px) {
    .haves {
        &__card {
            width: 100%;
        }
    }

    .swiper {
        & .texts {
            & .container {
                flex-wrap: wrap;
                width: 100%;
            }
        }

        &__slide {
            &-text {
                word-break: break-word;
                width: 100% !important;
            }
        }
    }
}

@media(max-width: 475px) {
    .header {
        &__title {
            font-size: 4rem;
            line-height: 5rem;
            width: 100%;
            word-break: break-word;
        }
    }
}