* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --textOn: #CB2128;
    --textOff: #ffffff;
    --textFocus: #CB2128;
    --body: #ffffff;
    --block: #373E46;
    --border: #6D7A79;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

body {
    background: var(--body);
    font-family: 'Montserrat';
}

html {
    font-size: 10px;
    background: var(--body);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header__nav {
    position: fixed;
    width: 100%;
    padding: 2rem 0;
    background: #373E46;
    border: 2px solid var(--border);
    border-radius: 0px 0px 20px 20px;
    top: 0;
    left: 0;
    z-index: 999;
}


.header__nav * {
    color: white;
    font-size: 1.6rem;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: .8rem;
    cursor: pointer;
}

.lines {
    position: fixed;
    width: 50px;
    cursor: pointer;
    height: 50px;
    right: 1.5rem;
    display: none;
    padding: 1rem;

    &.active {
        .header__lines {
            background-color: unset;

            &::after,
            &::before {
                transform: rotate(45deg);
                top: -.5rem;
            }

            &::before {
                transform: rotate(-45deg);
                top: -.5rem;
            }
        }
    }
}

.header__lines {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 5px;
    border-radius: 1rem;
    background: white;

    &::after,
    &::before {
        content: '';
        width: 100%;
        transition: .3s;
        height: 100%;
        position: absolute;
        background: white;
        top: 1rem;
        border-radius: 1rem;
    }

    &::before {
        top: -1rem;
    }
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 5rem;
}

.header__contact-num {
    display: flex;
    align-items: center;
    column-gap: .8rem;
}

.header__divider {
    display: none;
}

.header__link {
    color: var(--textOff);
    font-size: 1.6rem;
    transition: .3s;
}

.header__link:hover {
    color: var(--textOn);
    text-shadow: 0px 5px 50px rgba(255, 255, 255, 0.3);
}

.header__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 2rem;
    padding: 3.2rem 5.7rem;
}

.logo-none {
    display: none
}

.header__item {
    width: max-content;
}

.logo-name-none {
    display: none
}

@import './responsive-nav.scss';

.header {
    background: url('../img/backgrounds/header__background.jpg') no-repeat center center / cover;
    height: 100vh;
    max-width: 100vw;
    padding-top: 13rem;
    position: relative;

    &__title {
        margin-top: 25rem;
        font-weight: 700;
        font-size: 7rem;
        line-height: 8.6rem;
        text-transform: uppercase;
        color: var(--textOff);
    }

    &__icon {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, #000 2%, rgba(57, 57, 57, 0.06) 100%);
        width: 100%;
        height: 200px;
    }
}


.main {

    & .swiper {
        min-height: 50rem;
        max-height: 100rem;
        height: 100vh;
        position: relative;



        &-slide {
            position: relative;
            display: flex;
            align-items: center;
            z-index: 2;

            &-active {
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, #000000 16.45%, rgba(57, 57, 57, 0.06) 193.82%);
                    left: 0;
                    top: 0;
                    z-index: 2;
                }
            }


            & img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        & .texts {
            position: absolute;
            width: 100%;
            z-index: 3;

            & .container {
                display: flex;
                flex-direction: column;
                row-gap: 6rem;

                & * {
                    width: max-content;
                }
            }

            & .swiper__slide-text {
                font-weight: 700;
                font-size: 5rem;
                line-height: 5rem;
                color: var(--textOff);
            }

            & .swiper__slide-descr {
                font-weight: 400;
                font-size: 1.7rem;
                line-height: 2.3rem;
                max-width: 62rem;
                width: 100%;
                color: #FFFFFF;
            }

            & .swiper__slide-button {
                font-weight: 400;
                font-size: 1.7rem;
                line-height: 2.3rem;
                color: #FFFFFF;
                background: unset;
                border: 1px solid #CB2128;
                border-radius: 10px;
                padding: 1.7rem 2.5rem;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background: white;
                    color: #CB2128;
                    transform: translateY(-.5rem);
                    box-shadow: 0 4px 4px #CB2128;
                }

                &:active {
                    box-shadow: 0 2px 2px #CB2128;
                    transform: translateY(-.2rem);
                }
            }
        }
    }

    & .haves {
        &__title {
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
            text-transform: uppercase;
            margin-top: 10rem;
            color: #000000;
            border-bottom: 2px solid #CB2128;
            border-left: 2px solid #CB2128;
            text-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);
            width: 50%;
            padding-left: 1.2rem;
            padding-bottom: 1.2rem;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: .5rem;
                background: #CB2128;
                width: 95%;
                height: 2px;
                left: .5rem;
            }
        }

        &__cards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 7rem;
        }

        &__card {
            text-align: center;

            & img {
                height: 10rem;
                width: 10rem;
            }

            & p {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.4rem;
                margin-top: 6rem;
            }
        }
    }
}

.swiper-pagination {
    text-align: end !important;
    bottom: 6rem !important;
}

.swiper-pagination-bullet-active {
    background: #CB2128 !important;
}

.swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
    padding: .5rem;
}

@import './responsive-icons.scss';

.about {
    margin-top: 10rem;

    &__main {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

    }

    &__view {
        position: relative;
        padding-left: 1rem;
        padding-top: 1rem;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        }

        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 17rem;
            border-radius: 1.5rem;
            height: 6rem;
            transition: .3s;
            cursor: pointer;

            &:hover {
                filter: invert(50);
                transform: translate(-50%, -55%);
                box-shadow: 0 4px 4px white;
            }

            &:active {
                filter: invert(0);
                transform: translate(-50%, -52%);
                box-shadow: 0 4px 4px black;
            }
        }

        &-image {
            border-left: 2px solid #CB2128;
            border-top: 2px solid #CB2128;
            padding-left: 1rem;
            padding-top: 1rem;
        }
    }

    &__more {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Open Sans';
        position: relative;
        z-index: 2;
        padding: 0 0 0 4rem;
        color: #CB2128;
    }

    &__texts {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 45rem;
            height: 45rem;
            background: url("../img/logo.svg") no-repeat center center/cover;
            left: -100%;
            top: 50%;
            transform: translateY(-25%) translateX(50%);
            z-index: 2;
            opacity: 0.3;
        }

        &::after {
            content: '';
            position: absolute;
            width: 200%;
            background: #373E46;
            height: 55rem;
            left: -100%;
            top: 0;
            z-index: 1;
            border-radius: 2rem;
        }
    }

    &__text {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.2rem;
        font-family: 'Open Sans';
        position: relative;
        z-index: 2;
        color: var(--textOff);
        padding: 4rem 4rem 1.5rem 4rem;
    }

    &__title {
        &-text {
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
            color: #000000;
            text-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);
            position: relative;
            width: max-content;
            z-index: 2;
            margin-bottom: 4.6rem;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -50%;
                transform: translateY(-50%);
                z-index: -1;
                width: 100%;
                height: 50px;
                background: url('../img/traced.jpg') no-repeat center center / contain;
            }
        }

    }
}

@import './responsive-about.scss';

.service {
    margin-top: 18rem;

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #000000;
        text-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        width: 100%;
    }

    &__box {
        position: relative;
        width: max-content;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            z-index: -1;
            right: -25%;
            transform: translateY(-50%);
            width: 18rem;
            height: 6rem;
            background: url('../img/traced.jpg') no-repeat center center / contain;
        }
    }

    &__big {
        max-width: 42rem;
        position: relative;
        width: 100%;
        height: 47rem;

        &:hover {
            .service__big-off {
                opacity: 0;
            }

            .service__big-info {
                color: white;
                -webkit-text-stroke: 1px solid black;
            }
        }

        &-off {
            z-index: 2;
            cursor: pointer;


        }

        &-on {
            z-index: 1;
        }

        &-info {
            position: absolute;
            left: 2.6rem;
            top: 3.3rem;
            text-transform: uppercase;
            z-index: 3;
            font-weight: 700;
            font-size: 3rem;
            transition: .3s;
            line-height: 3rem;
        }

        & img {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: .3s;
            object-fit: cover;

            &:hover {
                & .service__big-info {
                    color: white;
                }
            }
        }
    }
}